div._loading_overlay_wrapper {
    position: unset;

    ._loading_overlay_overlay {
        z-index: 100000000;
    }
}

.manage-patient-container {
    .mp-title {
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
        font-size: 17px;
        font-weight: 600;
    }

    .manage-patient-body {
        padding: 0 20px;

        .table-manage-patient {

            table,
            th,
            td {
                padding-left: 5px;
                border: 1px solid #ddd;
            }

            button {
                margin: 5px 5px;
                outline: none;
                color: #fff;
                width: auto;
                border: none;
                background: #0071ba;
                cursor: pointer;
                transition: all 0.3s linear;
                position: relative;
                padding: 8px 16px;
                height: 30px;
                line-height: 9px;
            }

            button:hover {
                background: transparent;
                color: #0071ba;
            }

            button:before,
            button:after {
                position: absolute;
                content: '';
                left: 0;
                width: 100%;
                height: 50%;
                right: 0;
                z-index: -1;
                background: #0071ba;
                transition: all 0.3s ease;
            }

            button:before {
                top: 0;
            }

            button:after {
                bottom: 0;
            }

            button:hover:before,
            button:hover:after {
                height: 0;
                background-color: #0071ba;
            }
        }
    }
}