.login-background {
    background: rgb(34, 193, 195);
    background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    border: 1px solid red;
    height: 100vh;

    .login-container {
        width: 400px;
        margin: auto;
        height: 550px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 15px;
        border-radius: 30px;
        background-color: #fff;

        .login-content {
            padding: 10px;

            .text-login {
                font-size: 24px;
                font-weight: 600;
                padding-top: 10px;
                text-align: center;
            }

            .login-input {
                margin: 7px 0;

                .custom-input-password {
                    position: relative;

                    i {
                        position: absolute;
                        right: 5px;
                        top: 10px;
                        cursor: pointer;
                    }
                }
            }

            .btn-login {
                margin: 10px 0;
                width: 100%;
                height: 50px;
                border-radius: 3px;
                outline: none;
                background: rgb(34, 193, 195);
                background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
                border: 0px;
                cursor: pointer;
                transition: opacity 0.25s ease-out;
                color: #fff;
                font-weight: 700;
                font-size: 20px;
            }

            .forgot-password {
                font-size: 12px;
            }

            .social-login {
                display: flex;

                i {
                    font-size: 35px;
                }
            }

        }
    }
}