.verify-email-container {
    .info-booking {
        font-size: 20px;
        font-weight: 600;
        margin-top: 30px;
        text-align: center;
        text-transform: uppercase;
        color: #abde5f;
    }
}