.slick-prev {
    left: -10px !important;
    z-index: 1000 !important;
    height: 40px !important;
    width: 40px !important;
    border: 2px solid #d7d7d7 !important;
    background-color: #fff !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    transition: 0.2s linear !important;

    &:hover {
        background: #eceaea !important;
        left: -15px !important;
    }
}

.slick-prev::before,
.slick-next:before {
    font-family: FontAwesome !important;
    color: black !important;
}

.slick-next {
    right: -5px !important;
    z-index: 1000 !important;
    height: 40px !important;
    width: 40px !important;
    border: 2px solid #d7d7d7 !important;
    background-color: #fff !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    transition: 0.2s linear !important;

    &:hover {
        background: #eceaea !important;
        right: -10px !important;
    }
}

// hello

.section-share {
    &.section-specialty {
        background-color: #f5f5f5;
    }

    .section-body {

        .section-customize {
            cursor: pointer;

            .bg-image {
                width: 315px;
                height: 180px;
                background-size: cover;
                background-color: #eee;
                background-repeat: no-repeat;
                background-position: center center;

                &.section-specialty {
                    background-image: url('../../assets/images/specialty/specialty_1.jpg');
                }

                &.section-medical-facility {
                    background-image: url('../../assets/images/nedicalFacility/medicalSpecility.jpg');
                }

                &.section-outstanding-doctor {
                    background-image: url('../../assets/images/doctor/doctorStrange.jpg');
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                }

                &.section-handbook {
                    background-image: url('../../assets/images/handbook/handbook1.jpeg');
                }
            }
        }
    }
}

.section-share {
    height: 330px;

    &.section-outstading-doctor {
        background-color: #f5f5f5;
    }

    &.section-about {
        border-top: 1px solid #f5f5f5;
        border-bottom: 1px solid #f5f5f5;
    }

    .section-container {
        margin: 0 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .section-header {
            height: 80px;
            margin-bottom: 20px;
            padding-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title-section {
                font-size: 22px;
                font-weight: 600;
            }

            .btn-section {
                margin-right: 6px;
                border: none;
                border-radius: 5px;
                height: 30px;
                background-color: rgb(239, 236, 236);
                transition: 0.2 ease;
                font-size: 12px;
                cursor: pointer;

                &:hover {
                    background-color: #abde5f;
                    color: #fff;
                }
            }
        }


    }



    h3 {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.section-outstanding-doctor {
    .outer-bg {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
}

.section-about {
    height: 500px !important;
    padding: 0 100px;
    

    .section-about-header {
        padding: 20px 10px;
        font-size: 22px;
        font-weight: 600;
    }

    .section-about-content {
        display: flex;
        gap: 15px;
        width: 100%;

        .about-content-left {
            width: 60%;
        }

        .about-content-right {
            width: 40%;
        }
    }
}

.home-footer {
    text-align: center;

    .more-info {
        text-decoration: none;
        color: #abde5f;

        &:hover {
            color: #333;
            cursor: pointer;
        }
    }
}